/* Ensure the front page takes up the entire screen height and width */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}